/*==========================================
   Testimonial
==========================================*/
.pea-testimonial-wrapper {
    max-width: 1290px;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}

.pea-testimonial-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 22px;
    box-shadow: 0 6px 18px rgba(12, 18, 30, 0.06);
    min-height: 160px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pea-testimonial-text {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    flex: 1 1 auto;
}

.pea-testimonial-meta {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
}

.pea-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.pea-meta-info {
    font-size: 14px;
    color: #111;
}

.pea-button-prev,
.pea-button-next {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 15%);
    position: absolute;
    top: 42%;
    z-index: 1;
    cursor: pointer;
}

.pea-button-prev svg,
.pea-button-next svg {
    height: 40px;
    width: 40px;
}

.pea-button-prev {
    left: -2%;
}

.pea-button-next {
    right: -2%;
}


.pea-swiper-pagination {
    margin-top: 25px;
    text-align: center;
}

.pea-meta-info small {
    display: block;
    margin-top: 3px;
}

.pea-button-wrap {
    display: flex;
    justify-content: space-between;
}

.pea-swiper-pagination .swiper-pagination-bullet-active{
  background: #000;
}

/*==========================================
   Pea Blog Grid
==========================================*/
.pea-blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 50px 0;
}

.pea-blog-grid .pea-blog-card {
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
}

.pea-blog-grid .pea-blog-img {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.pea-blog-grid .pea-blog-img a img {
  width: 100%;
  transition: 0.4s ease;
}

.pea-blog-grid .pea-blog-img:hover a img {
  transform: scale(1.2);
}

.pea-blog-grid .pea-card-body {
  padding: 20px 30px;
}

.pea-blog-grid .pea-cart-top {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 14px;
  color: #777;
  align-items: center;
}

.pea-blog-grid .pea-card-body .pea-author svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: #777;
}

.pea-blog-grid .pea-title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 15px;
}

.pea-blog-grid .pea-title a {
  color: #222;
  text-decoration: none;
  transition: 0.3s;
}

.pea-blog-grid .pea-title a:hover {
  color: var(--primary-color);
}

.pea-blog-grid .pea-card-body p {
  color: #4c4c4d;
  margin-top: 18px;
  line-height: 1.6;
}
